@import '../../assets/mixins.scss';


.hostels {

    .row {
        margin: 10px 0;
        display: flex;
        align-items: center;
        justify-content: space-between;
        flex-wrap: wrap;
    }
    .title {
        @include title;
    }
    .subtitle {
        @include subtitle;
    }
    .panel {
        display: flex;
        align-items: center;
        justify-content: space-between;
        flex-wrap: wrap;
        div { min-width: 142px; }
    }
    .panel_search {
        display: flex;
        align-items: center;
        justify-content: flex-start;
        flex-wrap: wrap;
        max-width: 400px;
    }
    .table_wrapp {
        padding-bottom: 40px;
    }
}

@media (max-width:1011px) {
    .Hostels {
        .title {
            font-size: 20px;
        }
        .subtitle {
            font-size: 14px;
        }
    }
}