@import '../../../../assets/mixins/responsive_font.scss';


.func_btn {
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    background-color: var(--theme_bg);
    border-radius: 8px;
    
    .head {
        margin-bottom: 10px;
        border-bottom: 1px solid var(--line);
    
        img {
            margin: auto;
            display: block;
        }
    
        p.disc {
            @include responsive_font(16, 12);
        }
    }

    transition: all .3s ease-in;

    &:hover {
        transition: all .3s ease-out;
        transform: translateY(-5px);
    }
}