@import '../../styles/mixins.scss';

.Operator {
    .row {
        margin: 10px 0;
        display: flex;
        align-items: center;
        justify-content: space-between;
        flex-wrap: wrap;
    }
    .title {
        @include title;
    }
    .subtitle {
        @include subtitle;
    }
    .panel {
        display: flex;
        align-items: center;
        justify-content: space-between;
        flex-wrap: wrap;
        div:nth-child(n+1) {
            margin-right: 10px;
        }
    }
    .search_panel {
        display: flex;
        align-items: center;
        justify-content: flex-start;
        flex-wrap: wrap;
        .search_input {
            position: relative;
            display: flex;
            flex-direction: row;
            justify-content: flex-start;
            align-items: center;
            svg {
                position: absolute;
                top: 50%;
                left: 18px;
                transform: translateY(-50%);
            }
            input {
                padding-left: 35px;
            }
        }
        fieldset div label span {
            padding: 0;
            font-family: inherit !important;
            font-size: 0.6875rem !important;
        }
    }
    .table_wrapp {
        padding-bottom: 40px;
    }
}

@media (max-width:1011px) {
    .Operator {
        .title {
            font-size: 20px;
        }
        .subtitle {
            font-size: 14px;
        }
    }
}