*, *::after, *::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Nunito', sans-serif !important;
}

*:focus {outline: none;}
*::-webkit-scrollbar {width: 6px; height: 6px;}
*::-webkit-scrollbar-track {
    background-color: #2d323e;
    border-radius: 6px;
    -webkit-box-shadow: 5px 5px 5px -5px rgba(34, 60, 80, 0.2) inset;
}
*::-webkit-scrollbar-thumb {
    border-radius: 6px;
    background: linear-gradient(45deg, rgb(93, 105, 133) 31%, rgb(74, 118, 168) 70%);
    background: -webkit-linear-gradient(45deg, rgb(93, 105, 133) 31%, rgb(74, 118, 168) 70%);
    background: -moz-linear-gradient(45deg, rgb(93, 105, 133) 31%, rgb(74, 118, 168) 70%);
}


/* TABLE */
.MuiPaper-root {
    background-color: transparent !important;
}
table thead tr th.MuiTableCell-head {
    font-family: inherit !important;
    font-weight: 700 !important;
}
.css-1ex1afd-MuiTableCell-root, 
.css-1ygcj2i-MuiTableCell-root {
    color: var(--text_color) !important;
    text-align: center !important;
}

.css-1ex1afd-MuiTableCell-root:first-child,
.css-1ygcj2i-MuiTableCell-root:first-child {
    text-align: left !important;
}

table tbody tr { transition: all .2s ease-in; }
table tbody tr:hover { background: var(--hover); }

table thead tr th,
table tbody tr td,
table tbody tr th {
    max-width: 250px;
    overflow: hidden;
    text-overflow: ellipsis;
    color: var(--text_color) !important;
    font-family: 1rem !important;
    font-weight: 500 !important;
}

table caption { 
    color: var(--text_color) !important;
    user-select: none; 
}
/* // TABLE */


/* ACCORDEON */
.MuiPaper-root.MuiAccordion-root.MuiAccordion-rounded.MuiPaper-elevation1.MuiPaper-rounded {
    min-width:200;
    overflow-x: auto;
}
.MuiAccordionSummary-content {
    display: flex;
    align-items: center;
    color: var(--text_color);
} 
.MuiAccordionSummary-content svg {
    margin-right: 20px;
}
.MuiAccordion-rounded {
    margin: 2px 0;
    border-radius: 8px !important;
    overflow: hidden;
}
html[data-them=false] .MuiAccordion-rounded {
    box-shadow: 0px 2px 52px -5px #53a9ea3d inset !important;
    -webkit-box-shadow: 0px 2px 52px -5px #53a9ea3d inset !important;
    -moz-box-shadow: 0px 2px 52px -5px #53a9ea3d inset !important;
}
.MuiAccordionSummary-content p { color: var(--text_color) !important; }
.MuiSvgIcon-root path { fill:var(--text_color); }
/* // ACCORDEON */




/* CONTROLLABEL */
.css-ahj2mt-MuiTypography-root {color: var(--text_color) !important;}
/* // CONTROLLABEL */