@import '../../../styles/mixins.scss';

.VideoStream {
    .col {
        display: flex;
        flex-direction: column;
    }
    .breadcrumb {
        @include breadcrumb;
    }
    .title {
        @include title;
    }
    .subtitle {
        @include subtitle;
    }
    .table_wrapp {
        padding-bottom: 40px;
    }
}

@media (max-width:1011px) {
    .VideoStream {
        .title {
            font-size: 20px;
        }
        .subtitle {
            font-size: 14px;
        }
    }
}