
.tooltip_wrapper {
    position: relative;
}

.tooltip {
    position: absolute;
    z-index: 999;
    padding: 6px 8px;
    border-radius: 4px;
    background-color: var(--main_bg);
    font-size: 12px;
    font-weight: 400;
    line-height: 1.2;
    white-space: nowrap;
    color: var(--logo_color);
    box-shadow: 0 2px 8px var(--hover);
    opacity: 0;
    transition: opacity 0.2s ease-in-out;
    user-select: none;
    pointer-events: none;

    &.show {
        opacity: 1;
        pointer-events: auto;
    }
    &.top {
        top: -100%;
        left: 50%;
        transform: translateX(-50%);
    }
    &.bottom {
        top: 100%;
        left: 50%;
        transform: translateX(-50%);
    }
      
    &.left {
        top: 50%;
        left: -100%;
        transform: translateY(-50%);
      }
      
    &.right {
        top: 50%;
        left: 100%;
        transform: translateY(-50%);
    }
}

.content {
    display: inline-block;
    position: relative;
    cursor: help;
}