@import '../../assets/mixins.scss';


.reports {

    .row {
        margin: 10px 0;
        display: flex;
        align-items: center;
        justify-content: space-between;
        flex-wrap: wrap;
    }

    .title {
        @include title;
    }
    .subtitle {
        @include subtitle;
    }
    
    .panel {
        display: flex;
        align-items: center;
        justify-content: space-between;
        flex-wrap: wrap;
        div:first-child {
            margin-right: 10px;
        }
    }
    
    .search_panel {
        display: flex;
        align-items: center;
        justify-content: flex-start;
        flex-wrap: wrap;
    }
    .table_wrapp {
        padding-bottom: 40px;
    }
}

@media (max-width:1011px) {
    .Reports {
        .title {
            font-size: 20px;
        }
        .subtitle {
            font-size: 14px;
        }
    }
}