@import '../../../../assets/aminations.scss';

.UpBtn {
    position: fixed;
    z-index: 999;
    bottom: 40px;
    right: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;
    background: var(--ex_color);
    border-radius: 15px;
    user-select: none;
    cursor: pointer;
    transition: all .2s ease-in-out;
    &:hover { transform: translateY(-4px); }

    svg {
        -webkit-animation: bounce-updown 1.6s linear infinite;
        animation: bounce-updown 1.6s linear infinite;
    }
}
@include bounce-updown;