@import '../../../styles/mixins.scss';

.Net {
    .row {
        margin: 10px 0;
        display: flex;
        align-items: center;
        justify-content: space-between;
        flex-wrap: wrap;
    }
    .col {
        display: flex;
        flex-direction: column;
    }
    .breadcrumb {
        @include breadcrumb;
    }
    .title {
        @include title;
    }
    .subtitle {
        @include subtitle;
    }
    .search_panel {
        button ~ button {
            margin-left: 5px;
        }
        input {
            width: auto;
        }
    }
    .table_wrapp {
        padding-bottom: 40px;
    }
}

@media (max-width:1011px) {
    .Net {
        .title {
            font-size: 20px;
        }
        .subtitle {
            font-size: 14px;
        }
    }
}