@import '../../styles/mixins.scss';

.Politics {
    .title {
        @include title;
        font-size: 2rem;
    }
    .content {
        margin: 1.875rem 0;
        h3 {
            margin-bottom: 1.5625rem;
            font-size: 1.7rem;
        }
        h4 {
            margin-bottom: 1.5rem;
            font-size: 1.25rem;
        }
        p {
            margin-bottom: 1rem;
            padding-left: 2.5rem;
        }
        div {
            margin-bottom: 1rem;
        }
        mark {
            background-color: #ffffb6;
        }
    }
}