@import '../../../styles/mixins.scss';

.CarsCards {
    .form {
        display: flex;
        flex-direction: column;
        align-items: center;
        align-content: center
    }
    .breadcrumb {
        @include breadcrumb;
    }
    .title {
        @include title;
    }
    .subtitle {
        @include subtitle;
    }
    .search_panel {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-wrap: wrap;
        input {
            width: auto;
        }
    }
    .table_wrapp {
        padding-bottom: 40px;
    }
}

@media (max-width:1011px) {
    .CarsCards {
        .title {
            font-size: 20px;
        }
    }
}