@import '../../styles/mixins.scss';


.Authorization {
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--theme_bg);
    width: 100%;
    height: 100vh;

    .form {
        padding: 20px;
        border-radius: 25px;
        background: var(--main_bg);
        width: 25%;
        min-width: 270px;
        .header {
            margin: 0 0 20px 0;
            display: flex;
            justify-content: center;
            width: 100%;
            .title {
                @include title;
                text-align: center;
            }
        }
        .body {
            display: flex;
            flex-direction: column;
        }
        label {
            color: var(--grey_text)
        }
    }
}