

.disturbers {
    .row {
        margin: 0 auto;
        display: flex;
        align-items: flex-start;
        justify-content: space-between;
        flex-wrap: wrap;
        max-width: 1920px;
    }
}

.accordions_wrapper {
    & > div ~ div {
        margin-top: 10px;
    }
}

.table_wrapper {
    margin-top: 10px;
}

.colorBall, .colorBall.default {
    display: flex;
    align-items: baseline;
    justify-content: center;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-color: transparent;
    border: 2px solid var(--logo_color);
    font-weight: 800;
    color: var(--text_color);
    -webkit-box-shadow: -1px 0px 8px 0px var(--hover) inset;
    -moz-box-shadow: -1px 0px 8px 0px var(--hover) inset;
    box-shadow: -1px 0px 8px 0px var(--hover) inset;
    
    &.light {
        border: 3px solid var(--yellow);
        background-color: var(yellow--hover);
    }
    &.middle {
        border: 3px solid var(--orange);
        background-color: var(--orange--hover);
    }
    &.high {
        border: 3px solid var(--red);
        background-color: var(--red--hover);
    }
}